body {
  background-color: #ffffcc;
}
h1 {
  text-align: center;
  font-size: vw;
}
h2 {
  text-align: center;
}
table{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 80%;
  background-color: rgb(255, 255, 240);
  bottom: 0;
}
td{
  border: 2px solid black;
  text-align: center;
}
hr {
  height: 2px;
  background-color: black;
}
p {
  text-align: center;
  text-size: 30;
}
